[submodule "docs"]
	path = docs
	url = git@github.com:tsukasakop/42-docs.git
[submodule "tool"]
	path = tool
	url = git@github.com:tsukasakop/42-tool.git
[submodule "cursus/get_next_line"]
	path = cursus/get_next_line
	url = git@github.com:tsukasakop/42-get-next-line.git
